.example-spacer {
    flex: 1 1 auto;
  }

  table {
    border-radius: 10px;
  width: 100%;
}


/*.example-container {
  
  border: 1px solid rgba(0, 0, 0, 0.5);
}*/

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 15%;
}

hr {
  border: 2px solid rgb(255, 124, 17);
  border-radius: 5px;
}

.contenedor{
  padding-left: 5%;
  padding-right: 5%; 
}

.navibar{
  background-color: rgb(0, 0, 0);
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-drawer {
  background-color: #fafafa;
  color: rgba(0,0,0,.87);
  border-right: 2px solid #3f51b5;;
}

mat-form-field{
  background-color: #fafafa;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
th.mat-header-cell { 
  text-align: center; 
}


mat-form-field {
   
    width: 280px;
}
